



<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="<%= customizations.homePage %>">
            <img src="<%=properties.commonUIUrl%>/assets/img/port/logo1-default.png" alt="Logo"/>
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">

                <!--<li class="hoverSelector">-->
                    <!--<i class="fa fa-globe"></i>-->
                    <!--<a data-i18n="nav.lang"></a>-->
                    <!--<ul class="languages hoverSelectorBlock">-->
                        <!--<li class="active">-->
                            <!--<a data-lng="en">English <i class="fa fa-check"></i></a>-->
                        <!--</li>-->
                        <!--<li><a data-lng="en">English</a></li>-->
                        <!--<li><a data-lng="it">Italiano</a></li>-->
                    <!--</ul>-->
                <!--</li>-->


                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a data-i18n="nav.lang"></a>
                    <ul class="languages hoverSelectorBlock">
                        <li class="active ">
                            <a class="" data-lng="en" href="#">English <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#" data-lng="en">English</a></li>
                        <li><a  data-lng="it" href="#">Italiano</a></li>
                    </ul>
                </li>




                <li class="topbar-devider"></li>
                <% if (customizations.pageFaq) { %>
                    <li><a href="<%= customizations.pageFaq %>" data-i18n="nav.help">Help</a></li>
                    <li class="topbar-devider"></li>
                <%}%>

                <% if (customizations.isLogged) { %>
                    <li id="h_logout"><a onclick="<%= customizations.logout %>" data-i18n="nav.logout"></a></li>
                    <!--<li style="padding-left:20px" id="h_user"><a href="<%= customizations.userProfilePage %>"><strong><%= customizations.username %></strong></a></li>-->
                    <li style="padding-left:20px" id="h_user"><a onclick="redirectToUserProfile('<%= customizations.userProfilePage %>')"><strong><%= customizations.username %></strong></a></li>
                <% } else{ %>
                        <%if(customizations.login){%>
                            <li id="h_login"><a href="#" onclick="<%= customizations.login %>" data-i18n="nav.login"></a></li>
                        <%}else{%>
                            <%if(customizations.afterLoginRedirectTo){%>
                                <li id="h_login"><a href="<%= properties.userUIUrl %>/?<%= customizations.redirectSettings %>&redirectTo=<%= customizations.afterLoginRedirectTo %><%= customizations.resetPasswordSettings %>" data-i18n="nav.login"></a></li>
                            <% } else{ %>
                                <%if(customizations.defaultRedirectToCurrentPage){%>
                                    <li id="h_login"><a id="loginRed" onclick="defaultLoginRedirect('<%= properties.userUIUrl %>/?<%= customizations.redirectSettings %><%= customizations.resetPasswordSettings %>&redirectTo=')" data-i18n="nav.login"></a></li>
                                <% } else{ %>
                                    <li id="h_login"><a href="<%= properties.userUIUrl %>/?<%= customizations.redirectSettings %><%= customizations.resetPasswordSettings %>" data-i18n="nav.login"></a></li>
                                <%}%>
                            <%}%>
                        <%}%>
                <% }%>

                <!--OLD menubar   -->
                <!--<% if (customizations.isLogged) { %>-->
                <!--<li id="h_logout"><a onclick="<%= customizations.logout %>" data-i18n="nav.logout"></a></li>-->
                <!--&lt;!&ndash;<li style="padding-left:20px" id="h_user"><a href="<%= customizations.userProfilePage %>"><strong><%= customizations.username %></strong></a></li>&ndash;&gt;-->
                <!--<li style="padding-left:20px" id="h_user"><a onclick="redirectToUserProfile('<%= customizations.userProfilePage %>')"><strong><%= customizations.username %></strong></a></li>-->
                <!--<% } else{ %>-->
                <!--<%if(customizations.login){%>-->
                <!--<li id="h_login"><a href="#" onclick="<%= customizations.login %>" data-i18n="nav.login"></a></li>-->
                <!--<%}else{%>-->
                <!--<%if(customizations.afterLoginRedirectTo){%>-->
                <!--<li id="h_login"><a href="<%= properties.userUIUrl %>/?homeRedirect=<%= customizations.loginHomeRedirect %>&loginHomeRedirect=<%= customizations.loginHomeRedirect %>&redirectTo=<%= customizations.afterLoginRedirectTo %><%= customizations.resetPasswordSettings %>" data-i18n="nav.login"></a></li>-->
                <!--<% } else{ %>-->
                <!--<%if(customizations.defaultRedirectToCurrentPage){%>-->
                <!--<li id="h_login"><a id="loginRed" onclick="defaultLoginRedirect('<%= properties.userUIUrl %>/?homeRedirect=<%= customizations.loginHomeRedirect %>&loginHomeRedirect=<%= customizations.loginHomeRedirect %><%= customizations.resetPasswordSettings %>&redirectTo=')" data-i18n="nav.login"></a></li>-->
                <!--<% } else{ %>-->
                <!--<li id="h_login"><a href="<%= properties.userUIUrl %>/?homeRedirect=<%= customizations.loginHomeRedirect %>&loginHomeRedirect=<%= customizations.loginHomeRedirect %><%= customizations.resetPasswordSettings %>" data-i18n="nav.login"></a></li>-->
                <!--<%}%>-->
                <!--<%}%>-->
                <!--<%}%>-->
                <!--<% }%>-->
                <!--end hold-->
            </ul>
        </div>
        <!-- End Topbar -->


        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li>
                    <a href="<%= customizations.homePage %>" data-i18n="nav.home">
                        Home
                    </a>
                </li>

                <% if (customizations.isLogged){ %>
                    <% if (customizations.favourite){ %>
                        <li>
                            <a href="<%= customizations.favourite %>" data-i18n="nav.favourites">
                                My Favourites
                            </a>
                        </li>
                    <% } %>
                <% } %>

                <li>
                    <a href="<%= customizations.whoWeAre %>" data-i18n="nav.about">
                        About
                    </a>
                </li>
                <!--</li>-->
                <% if(customizations.fastSearchUrl) { %>
                    <li>
                        <i class="search fa <%=customizations.fastSearchUrlIcon%> fa-search search-btn"></i>
                        <div class="search-open">
                            <div id="userbar" class="editmode">
                                <div id="adminusers" class="margin-bottom-30">
                                    <input class="typeahead form-control" type="text" placeholder="Search for user">
                                </div>
                                <div id="adminlist"></div>
                            </div>
                        </div>
                    </li>
                <% }%>

            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->


   <!--To add more script populate it in createScriptList function in caportHeader.js-->

    <!--Script to load config parameter-->
    <script>
        var config=JSON.parse('<%- JSON.stringify(properties) %>');
        console.log(config);
        var lockScriptLoad= lockScriptLoad || false;
    </script>

    <!--To add more script populate it in createScriptList function in caportHeader.js-->



</div>

