
	<!--=== Error V4 ===-->
<div id="error_page">
	<div class="container content valign__middle">
		<!--Error Block-->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="error-v4">
					<a class="logo" href="<%=properties.defaultHomeRedirect%>"><img style="width:35%" src="<%=properties.commonUIUrl%>/customAssets/img/port/logo1-default.png" alt="Logo"></a>
					<h1><%=options.error_code%></h1>

					<% if(options.custom_error_message) {%>
					<span class="sorry"><%=options.error_message%></span>
					<%}else{%>
						<span class="sorry" data-i18n="error.<%=options.error_message%>"></span>
					<%}%>

                    <% if(options.showMore_message) {%>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<a class="btn-u btn-brd btn-u-light" data-toggle="collapse" data-target="#viewdetails"  data-i18n="buttons.show_more"><i class="fa fa-plus"></i></a>
								<div class="row collapse" id="viewdetails">
									<span class="sorry"><i><%=options.showMore_message%></i></span>
								</div>
							</div>
						</div>
                    <%}%>

					<hr class="devider">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<% if(options.defaultHomeRedirect) {%>
								<a class="btn-u btn-brd btn-u-light" href="<%=options.defaultHomeRedirect%>" data-i18n="buttons.home_redirect" ></a>
							<%}else{%>
								<a class="btn-u btn-brd btn-u-light" href="<%=properties.defaultHomeRedirect%>" data-i18n="buttons.home_redirect" ></a>
							<%}%>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/container-->
	<!--End Error Block-->

	<!--=== Sticky Footer ===-->
	<div class="container sticky-footer">
		<p class="copyright-space">
			2017 &copy; Ph: Stefano Marrocu - All Rights Reserved - Cagliari Port 2020 - Crs4
		</p>
	</div>
	<!--=== End Sticky Footer ===-->

	<script>
        var config=JSON.parse('<%- JSON.stringify(properties) %>');
        console.log(config);
        var lockScriptLoad=false;
	</script>
</div>