



<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="<%= customizations.homePage %>">
            <img src="<%=properties.commonUIUrl%>/assets/img/port/logo1-default.png" alt="Logo"/>
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a data-i18n="nav.lang"></a>
                    <ul class="languages hoverSelectorBlock">
                        <li class="active ">
                            <a class="" data-lng="en" href="#">English <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#" data-lng="en">English</a></li>
                        <li><a  data-lng="it" href="#">Italiano</a></li>
                    </ul>
                </li>
                <li class="topbar-devider"></li>
                <% if (customizations.pageFaq) { %>
                    <li><a href="<%= customizations.pageFaq %>" data-i18n="nav.help">Help</a></li>
                    <li class="topbar-devider"></li>
                <%}%>

                <% if (customizations.isLogged) { %>
                    <li id="h_logout"><a href="#" onclick="<%= customizations.logout %>" data-i18n="nav.logout"></a></li>
                    <li style="padding-left:20px" id="h_user"><a href="<%= customizations.userProfilePage %>"><strong><%= customizations.username %></strong></a></li>
                <% } else{ %>
                    <%if(customizations.login){%>
                        <li id="h_login"><a href="#" onclick="<%= customizations.login %>" data-i18n="nav.login"></a></li>
                    <%}else{%>
                        <%if(customizations.afterLoginRedirectTo){%>
                            <li id="h_login"><a href="<%= properties.userUIUrl %>/?homeRedirect=<%= customizations.loginHomeRedirect %>&redirectTo=<%= customizations.afterLoginRedirectTo %>" data-i18n="nav.login"></a></li>
                        <% } else{ %>
                            <li id="h_login"><a href="<%= properties.userUIUrl %>/?homeRedirect=<%= customizations.loginHomeRedirect %>" data-i18n="nav.login"></a></li>
                        <%}%>
                    <%}%>
                <% }%>

            </ul>
        </div>
        <!-- End Topbar -->


        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li>
                    <a href="<%= customizations.homePage %>" data-i18n="nav.home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="<%= customizations.whoWeAre %>" data-i18n="nav.about">
                    </a>
                </li>
                </li>
                <% if(customizations.FastSearchUrl) { %>
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="" id="smallSearch" >
                                <span class="input-group-btn">
                            <!--<button class="btn-u" type="button"  id="smallSearchButton" onclick="<%= customizations.FastSearchUrl %>" + $('#smallSearch').val()" >-->
                            <button class="btn-u" type="button"  id="smallSearchButton" onclick="<%= customizations.FastSearchUrl %>" >
                           <i class="fa fa-search"></i>
                           <span data-i18n="button.search"></span>
                           </button>
                        </span>
                            </div>
                        </div>
                    </li>
                <% }%>

            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->


   <!--To add more script populate it in createScriptList function in caportHeader.js-->

    <!--Script to load config parameter-->
    <script>
        var config=JSON.parse('<%- JSON.stringify(properties) %>');
        console.log(config);
        var lockScriptLoad= lockScriptLoad || false;
    </script>

    <!--To add more script populate it in createScriptList function in caportHeader.js-->


</div>

